@import "tailwindcss";
:root {
 --yellow-primary: #FFEA00;
 --yellow-soft: #FFFBCF;
 --yellow-background: #FFFDF0;
 --yellow-border:#FFE066;
 --header-color:#1C1B17;
 /* CONTROL */
  --yellow-soft: #FFF4A3;/*section 2 bg*/

  /* AUTHORITY */
  --dark-primary: #1C1B17;
  --dark-muted: #3A382E;

  /* PREMIUM */
  --dark-surface: #23210F;
}

html {
  scroll-behavior: smooth;
}
nav a{
    @apply transition-colors font-bold relative;
}
.nav-items::after {
    content:'';
    position: absolute;
    bottom:0;
    left: 50%;
    width:0%;
    height:2px;
    background-colors: #FFEA00;
    transition: width 0.3s ease, left 0.3s ease;   
}
.nav-items:hover::after{
    width:100%;
    left:0;
    background-color: #000000; 
}

.reglabel {
    font-size:14px;
    font-weight:500;
    font-color:black;
    display:block;
    padding-bottom:2px
}
.allbutton {
  background-color: #FFEA00;
  transition: all 0.3s ease;
  color: black;
}

.allbutton:hover {
  background-color: black;
  color: var(--yellow-primary);
  transform: translateY(-2px);
}
